@import hmrc.smartstub.Male
@import hmrc.smartstub.Female
@(taxpayer: controllers.TaxPayer, nino: String)

@main("Taxpayer Details") {

    <header class="hero">
        <section class="hero__content">
            <h1 class="hero__heading-large">Personal Details for: @taxpayer.forename @taxpayer.surname</h1>
            <h2 class="hero__heading-small">
                Data generated is based upon the custom Taxpayer model
            </h2>
        </section>
    </header>

    <div class="grid-layout [modifier class]">
        <div class="grid-layout__column--1-3">
            @if(taxpayer.gender == Male) {
                <img src="@routes.Assets.versioned("images/ProfilePlaceholderSuit.png")" alt="">
            }
            @if(taxpayer.gender == Female) {
                <img src="@routes.Assets.versioned("images/ProfileFemalePlaceholderSuit.png")" alt="">}
        </div>

        <div class="grid-layout__column--2-3">
            <ul class="action-list">
                <div class="grid-layout__column--1-2">
                    <li>
                        <p><b>NINO:</b> </p>
                        <p>@nino</p>
                    </li>
                    <li>
                        <p><b>Gender:</b><p>
                        <p>@taxpayer.gender</p>
                    </li>
                    <li>
                        <p><b>Forename:</b><p>
                        <p>@taxpayer.forename</p>
                    </li>
                    <li>
                        <p><b>Job:</b><p>
                        <p>@if(taxpayer.job.isDefined) {
                            @taxpayer.job
                        } else {
                            <br>
                            }</p>
                    </li>
                    <li id="computers">
                        <p><b>Computers:</b><p>
                        <p>@for(comp <- taxpayer.computers) {
                        <p>@comp</p>
                    }</p>
                    </li>
                </div>

                <div class="grid-layout__column--1-2">
                    <li>
                        <p><b>UTR:</b><p>
                        <p>@taxpayer.utr</p>
                    </li>
                    <li>
                        <p><b>Surname:</b><p>
                        <p>@taxpayer.surname</p>
                    </li>
                    <li>
                        <p><b>Middle Name:</b><p>
                        <p>@if(taxpayer.middlename.isDefined) {
                            @taxpayer.middlename
                        } else {
                            <br>
                            }</p>
                    </li>
                    <li>
                        <p><b>Address:</b><p>
                        <p>@taxpayer.address</p>
                    </li>
                </div>
            </ul>
            <a class="back-link" role="button" href="@routes.HomeController.index(1)" >Back</a>
        </div>
    </div>

}
